p{
    font-size: 10px;
}

.section2{
    margin-top: 8%;
}

.section2__header--title, .section2__header--all{
    width: 50%;
}

.section2__header--all h5{
    text-align: end;
}

.section2__content{
    display: flex;
    gap: 40px;
}

.section2__content--card-img{
    height: 200px;
}

.section2__content--card-important{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2.5em;
}

.section2__content--card-price{
    text-align: center;
}

@media (width < 720px) {
    .section2{
        margin-top: 15%;
    }

    .section2__content{
        flex-direction: column;
    }

    .section2__content--card-name, .section2__content--card-price{
        font-size: 1rem;
    }

    .section2__content--card-botton{
        width: 100vw;
        display: grid;
    }

}