.section1{
    display: flex;
}

.section1__text h4{
    font-size: 50px;
}

.section1__text p{
    font-size: 20px;
}

.section1__booton{
    margin-top: 30px;
}

.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}