---
const { 
        
        url="",
        target="__blank",
        text="booton", 
        width="100px", 
        height="30px", 
        colorBooton="rgb(10,10,10)", 
        backgroundColor="#585858", 
        borderColor="rgb(55,55,55)", 
        padding="10px",
        fontzise=""

    } = Astro.props
---
<a target={target} href={url}>
    <button class="botton" type="button">
        {text}
    </button>
</a>


<style define:vars={{ colorBooton, width, height, backgroundColor, borderColor, padding, fontzise }}>
    a{
        padding: var(--padding);
    }
    
    .botton{
        background: var(--backgroundColor);
        border: 1px solid var(--borderColor);
        color: var(--colorBooton);
        width: var(--width);
        height: var(--height);
        border-radius: 10px;
        transition: all .5s;
        font-size: var(--fontzise);

        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }

        &:active{
            animation: boing .5s linear;
        }
    }

    @keyframes boing {
        0%{
            transform: scale(1)
        }
        50%{
            transform: scale(1.1)
        }
        100%{
            transform: scale(1)
        }
    }
</style>