---
const opciones = ['opción 1', 'opción 2', 'opción 3', 'opción 4', 'opción 5'];
---

<header>
    <nav>
        <section>
            <img src="" alt="">
        </section>

        <section>
            <!-- <input type="text" id="busqueda" list="opciones">
            <datalist id="opciones">
                
                {opciones.forEach(opcion => {
                    <option value={opcion}></option>
                    console.log(opcion)
                })};

            </datalist> -->
            

            
        </section>
    </nav>
</header>
