---
import Cards from "./Cards.astro";
import CardsNavegator from "./CardsNavegator.astro";
---

<section class="section4"> 
    <section class="section4__nav">
        <CardsNavegator />
    </section>

    <section class="section4__card1">
        <Cards />
    </section>

    <section class="section4__card2">
        <Cards />
    </section>
</section>


<style>
    .section4__card2{
        margin-top: -30px;
    }
</style>