---
import Botton from "./Botton.astro";
import '../styles/cards-navegator.css'
const { 

    logoTipe="/blog-placeholder-5.jpg",


 }=Astro.props
---

<header>
    <nav class="nav">
        <section class="nav__logotype">
            <img src={logoTipe}>
        </section>

        <div class="nav__content">
            <div class="nav__content--container">
                <section class="drawn">
                    <Botton 
                        width="170px"
                        height="40px"
                        fontzise="20px"
                        url="#"
                        target="__self"
                    />
                </section>
    
                <section>
                    <ul id="ul" class="ul1">
                        <li>Coleccion</li>
                        <li>Coleccion</li>
                        <li>Coleccion</li>
                        <li>Coleccion</li>
                    </ul>
                </section>
            </div>
            
    
            <div class="nav__content--container2">
                <section class="drawn2">
                    <Botton 
                        width="170px"
                        height="40px"
                        fontzise="20px"
                        url="#"
                        target="__self"
                    />
                </section>
    
                <section>
                    <ul id="ul2" class="ul">
                        <li>Coleccion</li>
                        <li>Coleccion</li>
                        <li>Coleccion</li>
                        <li>Coleccion</li>
                    </ul>
                </section>
            </div>
        </div>
    </nav>
</header>


<script>

    const ul = document.getElementById('ul');
    const ul2 = document.getElementById('ul2');
    const drawnElements = document.getElementsByClassName('drawn');
    const drawnElements2 = document.getElementsByClassName('drawn2');

    const touchHandler = (event) => {
        if (ul?.classList.contains('visible')){
            ul.classList.remove('visible')
        } else{
            ul?.classList.add('visible')
        }
    }

    const touchHandler2 = (event) => {
        if (ul2?.classList.contains('visible')){
            ul2.classList.remove('visible')
        } else{
            ul2?.classList.add('visible')
        }
    }

    Array.from(drawnElements).forEach((element) => {
        element.addEventListener('click', touchHandler);
    });

    Array.from(drawnElements2).forEach((element) => {
        element.addEventListener('click', touchHandler2);
    });
</script>